body{
    background-color: black;
}
.col-lg-3{
     /* border: 2px solid red;  */
    height: 450px;
    margin-bottom: 30px;
}

.col-lg-3 img{
    height: 350px;
    position: absolute;
    width: 300px;
    /* margin-left: 23px; */
}

#tcolor img{
    position: relative;
    max-height: 0px;
    width: 300px;
    transition: 0.4s ease-in;
}

.col-lg-3:hover #tcolor img{
    max-height: 400px;
}


#t{
    position: absolute;
    background-color: grey;
    width: 300px;
    margin-top: 350px;
    /* margin-left: 23px; */
    transition: 0.5s ease-in;
}

#t h2{
    text-align: center;
    font-weight: bolder;
}

.col-lg-3:hover #t{
    background-color: black;
    color: white;
    text-shadow: 2px 1px 4px blue;
}

.icons{
    background-color: rgb(27, 80, 129);
    width: 300px;
    margin-top: 63px;
    /* margin-left: 23px; */
    color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icons i{
    padding: 10px;
    font-size: 30px;
}

.icons i:hover{
    color: rgb(5, 5, 5);
}


.navbar li{
    list-style: none;
}

.navbar h1{
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
    text-shadow: 3px 5px 7px rgb(7, 7, 7);
}
 


#foot h2{
    /* background-color: rgb(41, 39, 39); */
    float:left;
    padding-left: 105px;
    color: white;
    text-shadow: 4px 4px 5px rgb(12, 59, 146);
    font-weight: bolder;
}

