@media (min-width:320px) and (max-width:549px){
    .col-lg-3{
        max-height: 300px;
        margin-bottom: 105px;
    }
        .col-lg-3 img{
            max-height: 300px;
            position: absolute;
            max-width: 250px;
            margin-left: 40px;
           box-shadow:  2px 3px 6px black;
        }
        
        #tcolor img{
            position: relative;
            max-height: 0px;
            width: 300px;
            transition: 0.4s ease-in;
        }
        
        .col-lg-3:hover #tcolor img{
            max-height: 300px;
        }
        
        
        #t{
            position: absolute;
            background-color: grey;
            max-width: 251px;
            margin-top: 290px;
            margin-left: 40px;
            box-shadow:  2px 1px 4px black;
            transition: 0.5s ease-in;
        }
        
        #t h2{
            text-align: center;
            font-weight: bolder;
        }
        
        .col-lg-3:hover #t{
            background-color: black;
            color: rgb(252, 246, 246);
            text-shadow: 2px 1px 4px blue;
        }
        
        .icons{
            background-color: rgb(42, 104, 197);
            width: 252px;
            margin-top: 48px;
            margin-left: 40px;
            /* color: rgb(8, 8, 8); */
            border: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        

        .icons i{
            padding: 10px;
            font-size: 30px;
        }
        
        .icons i:hover{
            color: rgb(247, 243, 243);
        }
        
        
.navbar li{
    list-style: none;
}

.navbar h1{
    color: rgb(39, 37, 37);
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
 


#foot h2{
    float:left;
    padding-left: 10px;
    color: rgb(7, 7, 7);
    text-shadow: 4px 2px 5px #673ab7;
    font-size: 15px;
    font-weight: bolder;
}



    }
